# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sql
*.sqlite3

# Environment variables
.env

# Node modules
node_modules/

# Virtualenv
venv/
ENV/
env/
env.bak/
env.d/
.env/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Pytest
.pytest_cache/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/

# Celery
celerybeat-schedule
celerybeat.pid

# Sphinx documentation
docs/_build/
docsrc/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/

# Mac
.DS_Store

# Thumbnails
*_thumb.*

# Other
*.pkl
*.un~
*.sublime-project
*.sublime-workspace
