<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhe do Desafio</title>
</head>
<body>
    <h1>Detalhe do Desafio</h1>
    <p>Nome do Desafio: {{ desafio.nome }}</p>
    <p>Descrição: {{ desafio.descricao }}</p>
    <p>Regras de Pontuação: {{ desafio.regras_pontuacao }}</p>

    <form method="post" action="{% url 'aceitar_desafio' desafio.id %}">
        {% csrf_token %}
        <button type="submit">Aceitar</button>
    </form>

    <form method="post" action="{% url 'recusar_desafio' desafio.id %}">
        {% csrf_token %}
        <button type="submit">Recusar</button>
    </form>
</body>
</html>
